@CHARSET "UTF-8";

body{
     background: #F1F0D1;
     font-family: verdan, Tahoma, Arial,sans-serif;
     font-size: 18px;
     overflow: auto;
}

h1,h2,h3{
       text-align: center;
       padding-left: 5%;
       color: #E66C2C;
}

p{
   padding: 2%;
   color: #E66C2C;
}

img{
         text-align: center;
         max-width: 100%;
         height: auto;
         width: 100%;
}

#wrapper{
             margin: 0 auto;
             max-width: 1020px;
             width:98%;
             background: #FFFF00;
             border: 1px solid #E66C2C;
             border-radius: 2px;
             box-shadow: 0 0 10px 0px rgba(12,3,25,0.5);
}

#callout{
              width: 100%;
              height: auto;
              background: #E66C2C;
              overflow: hidden;
}

#callout p{
              text-align: right;
              color: #FFFF00;
              font-size: 13px;
              padding: 0.1% 5% 0 0;
}

callout p a{
              color: #FFFF00;
              text-decoration: none;
}

header{
              width: 98.5%;
              min-height: 125px;
              padding: 5px;
              text-align: center;
}

nav ul{
              list-style: none;
              margin: 0;
              padding-left: 15px;
}

nav ul li{
              float: left;
              border: 1px solid #E66C2C;
              width: 16%;
}

nav ul li a{
                 background: #FFFF00;
                 display: block;
                 padding: 5% 12%;
                 font-weight: bold;
                 font-size: 18px;
                 color: #E66C2C;
                 text-decoration: none;
}

nav ul li a:hover, nav ul li:ACTIVE a{
	                                    background-color: #E66C2C;
	                                    color: #FFFF00;
}


.clearfix{
           clear: both;
}

.left-col{
             width: 55%;
             float: left;
             margin: -1% 1% 1% 1%;
}

.sidebar{
            width: 40%;
            float: right;
            margin: 1%;
            text-align: center;
}

.refugee{
             float: left;
             margin: 0 auto;
             width: 100%;
             height: auto;
             padding: 1%;
}

.section{
            width: 29%;
            float: left;
            margin: 2% 2%;
            text-align: center;
}

footer{
           background: #E66C2C;
           width: 100%;
           overflow: hidden;
}

.footersection{
            width: 29%;
            float: left;
            margin: 2% 2%;
            text-align: center;
}
.footersection img{
                   width: 3cm;
                   height: 3cm;
}

#footerslogan p {
                 color: blue;
                 text-align: center;
                 font-family: Apple Chancery;
                 
}
ul{
       list-style-type: none;
       margin: 0;
       padding: 0;
}

li{
    display: inline;
}

 ul li img{
             height: 50px;
}

/* ------------------    MEDIA     --------------------*/ 

@MEDIA screen and (max-width: 478px) {
	  
	  body{
	         font-size: 3px;
	  }
}

@MEDIA screen and (max-width: 740px) {
	  
	  nav{
	         width: 100%;
	         margin-bottom: 10px;
	  }
	  
	  nav ul{
	          list-style: none;
	          margin: 0 auto;
	          padding-left: 0;
	  }
	  nav ul li{
	             text-align: center;
	             margin-left: 0 auto;
	  }
}
